<div mat-dialog-content>
  <form [formGroup]="form">
    <div>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput name="name" formControlName="name">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput name="email" formControlName="email">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Phone</mat-label>
        <input matInput name="phone" formControlName="phone">
      </mat-form-field>
    </div>
  </form>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onClose()">Cancel</button>
  <button mat-button [disabled]="!form.valid" (click)="onSubmit()"cdkFocusInitial>Ok</button>
</div>
